In [1]:
import pandas as pd

In [2]:
pd.__file__

'/workspaces/data-engineering-zoomcamp/pipeline/.venv/lib/python3.13/site-packages/pandas/__init__.py'

In [3]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow'
url = f'{prefix}/yellow_tripdata_2021-01.csv.gz'

In [4]:
df = pd.read_csv(url)

/tmp/ipykernel_55328/4176769558.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [7]:
len(df)

1369765

In [8]:
df['VendorID']

0          1.0
1          1.0
2          1.0
3          1.0
4          2.0
          ...
1369760    NaN
1369761    NaN
1369762    NaN
1369763    NaN
1369764    NaN
Name: VendorID, Length: 1369765, dtype: float64

In [9]:
df.dtypes

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [10]:
df.shape

(1369765, 18)

In [6]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    # nrows=100, # read only first 100 rows 
    dtype=dtype,
    parse_dates=parse_dates
)

In [17]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [7]:
!uv add sqlalchemy
!uv add psycopg2-binary

Resolved 120 packages in 0.60ms
Audited 12 packages in 0.20ms
Resolved 120 packages in 0.65ms
Audited 12 packages in 0.20ms

In [14]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [18]:
df.head(0).to_sql(
    name='yellow_taxi_data',
    con=engine,
    if_exists='replace'
)

0

In [15]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [32]:
df_iter = pd.read_csv(
    url, 
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000,
)

In [33]:
!uv add tqdm
from tqdm.auto import tqdm

Resolved 121 packages in 0.62ms
Audited 13 packages in 0.21ms

In [34]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(
        name='ny_taxi_data',
        con=engine,
        if_exists='replace'
    )
    print(len(df))

0it [00:00, ?it/s]

69765
69765
69765
69765
69765
69765
69765
69765
69765
69765
69765
69765
69765
69765

In [24]:
df = next(df_iter)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
400000,2,2021-01-11 17:09:19,2021-01-11 17:37:12,1,6.21,1,N,234,25,1,22.5,1.0,0.5,5.36,0.0,0.3,32.16,2.5
400001,2,2021-01-11 17:52:17,2021-01-11 18:00:34,1,4.49,1,N,88,137,2,14.0,1.0,0.5,0.00,0.0,0.3,18.30,2.5
400002,1,2021-01-11 17:17:37,2021-01-11 17:27:05,2,2.20,1,N,229,234,1,9.0,3.5,0.5,2.00,0.0,0.3,15.30,2.5
400003,1,2021-01-11 17:34:09,2021-01-11 17:44:24,2,2.80,1,N,79,237,1,10.5,3.5,0.5,1.20,0.0,0.3,16.00,2.5
400004,1,2021-01-11 17:56:25,2021-01-11 18:08:51,1,2.00,1,N,141,143,2,10.0,3.5,0.5,0.00,0.0,0.3,14.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,2,2021-01-13 20:16:45,2021-01-13 20:23:49,1,2.32,1,N,43,166,1,8.5,0.5,0.5,3.08,0.0,0.3,15.38,2.5
499996,2,2021-01-13 20:39:38,2021-01-13 20:47:29,1,1.67,1,N,238,141,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5
499997,1,2021-01-13 20:00:00,2021-01-13 20:08:58,0,1.50,1,N,163,239,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
499998,1,2021-01-13 20:19:18,2021-01-13 20:28:44,0,2.10,1,N,142,68,1,9.0,3.0,0.5,2.55,0.0,0.3,15.35,2.5
499999,1,2021-01-13 20:34:32,2021-01-13 20:37:18,0,0.80,1,N,186,68,1,4.5,3.0,0.5,1.65,0.0,0.3,9.95,2.5